{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Редактирование роли</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Имя роли *</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ role.name }}" required />
                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Описание роли *</label>
                        <input type="text" class="form-control" id="description" name="description" value="{{ role.description }}" />
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a href="{{ url_for('roles.roles') }}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}