{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Система учета IT-оборудования</h1>
        <p class="lead">Управление инвентарем IT-компании</p>
        
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Добавить устройство</h5>
                        <p class="card-text">Добавьте новое устройство в базу данных</p>
                        <a href="{{ url_for('add_device') }}" class="btn btn-light">Добавить</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Просмотр устройств</h5>
                        <p class="card-text">Просмотр всего оборудования</p>
                        <a href="{{ url_for('devices') }}" class="btn btn-light">Просмотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}